body {
     background-color: rgb(255, 223, 233);
}
.imagem-1 {
    width: 30%;         
    height: 30%;        
    object-fit: cover;   
    border-radius: 8px; 
}
.imagem-2 {
    width: 30%;         
    height: 30%;        
    object-fit: cover;   
    border-radius: 8px; 
}
h1 {
    color:rgb(177, 13, 67);
}
p {
    color: rgb(122, 43, 43);
}
h2 {
  color:rgb(233, 35, 101);  
}
header {
   text-align: center;
}
.imagem {
     width: 30%;         
    height: 30%;        
    object-fit: cover;   
    border-radius: 8px; 
}
.imagen-b{
     width: 30%;         
    height: 30%;        
    object-fit: cover;   
    border-radius: 8px; 
}
.imagen-c{
     width: 30%;         
    height: 30%;        
    object-fit: cover;   
    border-radius: 8px; 
}
.imagen-d{
     width: 30%;         
    height: 30%;        
    object-fit: cover;   
    border-radius: 8px; 
}
.imagen-e{
     width: 30%;         
    height: 30%;        
    object-fit: cover;   
    border-radius: 8px; 
}
.imagen-f{
     width: 30%;         
    height: 30%;        
    object-fit: cover;   
    border-radius: 8px; 
}