.button{
    background-color: hotpink ;
    padding: 10px 30px; 
    border-radius: 5px;

    text-decoration: none;
    color: rgb(255, 240, 190);
}
.button:hover{
    background-color: darkmagenta;
    transform: scale(1.1);
    color:rgb(0, 0, 105);
    transition: all .2s;
}
        div{
            border:1px solid #f00;
            width:500px;
            height:400px;
            box-shadow:10px 20px 10px #333;
        }
        h2{
            text-shadow:5px 2px 4px #333;
        }
        img:hover{
             filter:grayscale(.90);
             transform:rotate(3600deg);
             transition: all 3s;

        }
        div:hover{
            transform: translatex(130px);
            transition: transform 1s;
        }
        .button{
            display: inline-block;
            text-decoration: none;
            color: rgb(255, 240, 190);
            background-color: hotpink;
            padding: 10px 30px;
            margin:13px ;
            border-radius: 15px;
             box-shadow:6px 2px 5px #2b1286;
        }
        .button:hover{
            transform: scale(1.1);
            background-color:#3f22a8;
            transition: all 500ms ease-in;
        }
.programacao_cards{
    display:flex;
    justify-content:space-around;
    align-items: center;
    flex-direction:column;
}